.rcr-roulette-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 5;
    pointer-events: none;
}

.rcr-aspect-container {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.rcr-rotation-container {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.rcr-roulette-selector-image {
    position: absolute;
    z-index: 5;
    width: 17%;
    right: 6px;
    top: 15px;
    pointer-events: none;
}

.rcr-canvas {
    height: 100%;
    object-fit: contain;
}